<div id="{{ id }}" class="step-diagram">
    <div id="svg-{{ id }}"><pre style="max-height: 500px; overflow: auto">{{ jsonMap }}</pre></div>
    <div style="display: none" class="json-map">{{ jsonMap }}</div>
</div>
