html, body 
{
    padding : 0;
    margin : 0;
    overflow: hidden;
}

#container {
    width : 800px;
    height : 600px;
    margin : auto;
    border : 1px solid black;
    display: flex;
    position : relative;
}

#svgBox {
    height : 100%;
    width : 60%;
    max-width: 80%;
    min-width: 20%;
    flex-order: 1;
}

.CodeMirror {
    height : 100%;
    width : 40%;
    min-width: 20%;
    max-width: 80%;
    flex-order: 0;
}

.resizer {
    background: linear-gradient(to right, #D0DADF, #D2DCF9) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-left: 1px solid #D2DCF9;
    border-right: 1px solid #D2DCF9;
    box-shadow: 0 1px 0 #98A5CC inset, 0 2px 2px rgba(0, 0, 0, 0.4);
    cursor: col-resize;
    flex-shrink: 0;
    height: 100%;
    left: 0 !important;
    position: relative;
    width: 14px;
    z-index: 300;
}
.resizer span {
    background: url("../images/handle-horz.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: block;
    height: 100%;
}