{% block html_content_row %}
    {{ form_widget(form) }}
{% endblock %}
{% block html_content_widget %}
    <div class="html_text">
        {% spaceless %}
            {{ content | raw }}
        {% endspaceless %}
    </div>
{% endblock %}